/*
 * Global CSS
 */

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: local("Ubuntu Regular"), local("Ubuntu-Regular"),
    url("/assets/fonts/ubuntu-regular-webfont.woff2") format("woff2"),
    url("/assets/fonts/ubuntu-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 500;
  font-style: normal;
  font-display: swap;

  src: local("Ubuntu Medium"), local("Ubuntu-Medium"),
    url("/assets/fonts/ubuntu-medium-webfont.woff2") format("woff2"),
    url("/assets/fonts/ubuntu-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: "Cooper Hewitt";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: local("Cooper Hewitt Bold"), local("Cooper-Hewitt-Bold"),
    url("/assets/fonts/cooperhewitt-bold-webfont.woff2") format("woff2"),
    url("/assets/fonts/cooperhewitt-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Cooper Hewitt";
  font-weight: 600;
  font-style: normal;
  font-display: swap;

  src: local("Cooper Hewitt Semibold"), local("Cooper-Hewitt-Semibold"),
    url("/assets/fonts/cooperhewitt-semibold-webfont.woff2") format("woff2"),
    url("/assets/fonts/cooperhewitt-semibold-webfont.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  height: 100%;
}

body {
  color: #212121;
  min-height: 100vh;
  height: 100%;
  overflow-y: scroll;
  font-family: Ubuntu, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

/*
 * layout
 */

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #fafafa;
}

.layout__content {
  flex-grow: 1;
  padding: 6rem 2rem 3rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 25rem) {
  .layout__content {
    padding: 6rem 3rem 3rem;
  }
}

/*
 * menu
 */

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  height: 4.5rem
}

.menu__wrapper {
  background: white;
  width: 100%;
  height: 100%;
  z-index: 99;
  /* transform: translateY(-125%); */
  transition: transform 0.6s;

  box-shadow: 
    0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.menu__content {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 65rem) {
  .menu__content {
    padding: 0 3rem;
  }
  
}

.menu__button {
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  opacity: 0.9;
  display: none;
}

@media (min-width: 35rem) {
  .menu__button {
    display: flex;
  }
}

.menu__logo {
  height: 100%;
  color: #212121;
  fill: #212121;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  position: relative;
  right: 1.25rem;
}

.menu__logo:hover {
  color: #419a7d;
  fill: #419a7d;
  background: #419a7d30;
}

.menu__text {
  font-size: 1.25rem;
  font-weight: 700;
  top: 0.1rem;

  font-family: 
    Cooper Hewitt, 
    -apple-system, 
    BlinkMacSystemFont, 
    avenir next, avenir, 
    helvetica neue, 
    helvetica, 
    Ubuntu, 
    roboto, 
    noto, 
    segoe ui, 
    arial, 
    sans-serif;
}

.menu__nav {
  width: 100%;
  padding: 0 2rem;
}

@media (min-width: 65rem) {
  .menu__nav {
    height: 100%;
  }
}

.menu__dropdown {
  padding: 0.75rem 0.5rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #419a7d;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 100%;

  box-shadow: 
    rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, 
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

@media (min-width: 65rem) {
  .menu__dropdown {
    display: none;
  }
}

.menu__dropdown:hover {
  background: #b2d8ce;

  box-shadow: 
    rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, 
    rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.menu__dropdown:active,
.menu__dropdown:focus {
  background: white;
}

.menu__dropdown_loading {
  color: transparent;
  border: 2px solid #CCC;
  cursor: not-allowed;
}

.menu__list {
  display: none;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

@media (min-width: 65rem) {
  .menu__list {
    display: flex;
  }
}

.menu__item {
  display: flex;
  align-items: center;
  padding: 0;
}

.menu__link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  font-weight: 500;
  padding: 0 1rem;
  color: black;
  text-decoration: none;
  background: none;
  transition: background 0.2s;
}

.menu__link_disabled {
  color: #CCC;
  cursor: default;
  background: rgba(0, 0, 0, 0.05);
}

.menu__link:not(.menu__link_disabled ):hover {
  background: #b2d8ce;
}

/*
 * search
 */

 
.search {
  max-width: 20rem;
}

.search__overlay {
  position: fixed;
  background: red;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

.search__overlay_active {
  display: block;
}

.search__content {
  position: relative;
  z-index: 1000;
}

.search__input {
  font-family: Ubuntu;
  border: 2px solid #b2d8ce;
  border-radius: 5px;
  padding: 16px 8px;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  width: 100%;
  font-weight: 500;
}

.search__list {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  background: white;
  display: none;

  box-shadow: 
    0px 3px 3px -2px rgba(0, 0, 0, 0.2),
    0px 3px 4px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.search__list_active {
  display: block;
}

.search__link {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  width: 100%;
  align-items: flex-end;
  background: #ffffff;
  color: #212121;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-between;
  line-height: 18px;
  padding: 16px 8px 16px 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateY(0);
  transition: transform 0.3s;
  border-bottom: 1px solid #b2d8ce;
}

.search__link:hover {
  background: #b2d8ce;
  transform: translateX(0.25rem);
}

/*
 * button
 */

 .button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border: 0 solid transparent;
  width: 100%;
  align-items: flex-end;
  background: #ffffff;
  box-shadow: none;
  color: #212121;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-between;
  line-height: 18px;
  max-width: 320px;
  padding: 16px 8px 16px 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateY(0);
  transition: transform 0.3s;
}

.button_default {
  border-radius: 5px;
  border: 2px solid #419a7d;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.button_disabled {
  cursor: not-allowed;
  border: 2px solid #CCC;
  color: #CCC;
  box-shadow: none;
}

.button:not(.button_disabled):hover {
  background: #b2d8ce;
  transform: translateX(0.25rem);
}

.default:not(.button_disabled):hover {
  box-shadow: 
    rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, 
    rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.button__text {
  position: relative;
  top: 0.05rem;
  flex-grow: 1;
  padding-right: 0.5rem;
}

.button:not(.button_disabled) .button__arrow {
  display: block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 8px solid #419a7d;
}

.button:focus:not(.button_disabled) .button__arrow {
  border-left: 8px solid black;
}

.button__ripple {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.button__circle {
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.button__circle::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.button:active:not(.button_disabled) .button__circle::after {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}

/*
 * title
 */

 .title {
  display: flex;
  align-items: center;
  font-family: Cooper Hewitt;
  font-weight: 700;
  line-height: 0.9;
  color: #212121;
  letter-spacing: -0.02rem;
}

.title__text_highlight {
  color: #419a7d;
  display: inline;
}

.title__wrapper {
  margin: 0;
}

.title__text {
  font-size: 2.25rem;
  font-family: 'Cooper Hewitt', 'Source Sans Pro', 'Calibri', 'Droid Sans',  'Avenir',  Helvetica, Arial, sans-serif;
}

.title__text_highlight {
  color: #419a7d;
}

.title__icon {
  padding-right: 1rem;
  display: none;
}

@media (min-width: 25rem) {
  .title__icon {
    display: inline;;
  }
}

/*
 * homepage
 */

.homepage {
  display: flex;
  padding-top: 2rem;
  margin: -0.5rem;
  flex-wrap: wrap;
  align-items: stretch;
}

.homepage__hero {
  position: relative;
  bottom: 30px;
  margin: -40px -50px;
  width: 100%;
}

.homepage__background {
  height: 440px;
  width: 100%;
  background-image: url("/assets/images/hero-background.svg");
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: flex-end;
}

.homepage__fade {
  padding-top: 100px;
  width: 100%;
  
  background: linear-gradient(
    180deg,
    #00000000 0%,
    #fafafaaa 60%,
    #fafafaff 100%
  );
}

.homepage__banner {
  margin-bottom: 0;
  margin-left: 50px;
  padding-right: 50px;
}

.homepage__title {
  font-family: Cooper Hewitt, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
}

.homepage__title_highlight {
  color: #419a7d;
}

.homepage__column {
  width: 100%;
  height: 100%;
}

.homepage__section {
  padding: 1rem 0 2rem;
}

.homepage__divider {
  border: 0 solid transparent;
  border-top: 5px solid #b2d8ce;
  margin: 0;
}

.homepage__blurb {
  margin: 0;
  font-family: Ubuntu, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #212121;
}

.homepage__subtitle {
  font-family: Ubuntu;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 500;
  margin-left: 50px;
  padding-right: 50px;
}

.homepage__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 25rem) {
  .homepage__list {
    padding: 0 0 0 3.5rem;
  }
}

.homepage__item {
  padding: 0.5rem 0;
}

/*
 * page
 */

 .page {
   padding-top: 2rem;
 }

.page__expanding-preview {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  margin-left: -1rem;
  cursor: pointer;
}

.page__expanding-preview::-webkit-details-marker {
  color: #419A7D;
}

.page__expanding-preview:hover {
  background: #b2d8ce;
}

.page__expanding-title {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.page__body {
  padding: 1rem 0;
	font-family: Ubuntu, Cantarell, 'Open Sans', Arial, 'Helvetica Neue', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

.page__body h3 {
	font-size: 1.5rem;
}

.page__body li {
	font-size: 1rem;
	line-height: 1.5;
}

.page__body hr {
	border: 0 solid transparent;
	border-bottom: 3px solid #B2D8CE;
}

.page__body a {
	color: #419A7D;
	display: inline-block;
}

.page__body a:hover {
	background: #419A7D20;
	border-radius: 2px;
	margin: -2px -4px ;
	padding: 2px 4px;
}

.page__body blockquote {
	border-left: 6px solid  #B2D8CE;
	margin-left: 0;
	padding-left: 1rem;
	display: inline-block;
}

/*
 * footer
 */

.footer {
    color: grey;
    font-size: 11px;
    font-family: Verdana;
    padding: 0.5rem 2rem 2rem;
}

/*
 * button
 */

.button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  border: 0 solid transparent;
  width: 100%;
  align-items: flex-end;
  background: #ffffff;
  box-shadow: none;
  color: #212121;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-between;
  line-height: 18px;
  max-width: 320px;
  padding: 16px 8px 16px 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateY(0);
  transition: transform 0.3s;
}
  
.button:focus {
  outline: none;
  border: 2px solid black;
}

.button_default {
  border-radius: 5px;
  border: 2px solid #419a7d;

  box-shadow: 
    rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, 
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

.button_disabled {
  cursor: not-allowed;
  border: 2px solid #CCC;
  color: #CCC;
  box-shadow: none;
}

.button:not(.button_disabled):hover {
  background: #b2d8ce;
  transform: translateX(0.25rem);
}

.default:not(.button_disabled):hover {
  box-shadow: 
    rgba(0, 0, 0, 0.2) 0px 3px 3px -2px,
    rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, 
    rgba(0, 0, 0, 0.12) 0px 1px 8px 0px;
}

.button__text {
  position: relative;
  top: 0.05rem;
  flex-grow: 1;
  padding-right: 0.5rem;
}

.button:not(.button_disabled) .button__arrow {
  display: block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 8px solid #419a7d;
}

.button:focus:not(.button_disabled) .button__arrow {
  border-left: 8px solid black;
}

.button__ripple {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}

.button__circle {
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.button__circle::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}

.button:active:not(.button_disabled) .button__circle::after {
  transform: scale(0, 0);
  opacity: 0.2;
  transition: 0s;
}
